* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
}

#nav-bar a {
  text-decoration: none;
  color: white;
}

#nav-bar a:hover {
  color: #e6cafb;
}

#nav-bar li {
  /* top, right, bottom, left */
  margin: 1rem 3rem 1rem 3rem;
}

#nav-bar {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.banner-container {
  display: flex;
  flex-direction: column;
  grid-template-columns: repeat(auto-fit, 1fr);
}

.banner-item-1 {
  height: 40rem;
}
.banner-item-2 {
  background-color: lightgray;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

img {
  width: 100%;
  margin: 0 auto;
}
