*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header{
  display: flex;
  flex-direction: row;
  border: 1px solid black;
  justify-content: center;
  background-color: black;
}

#nav-bar a{
  text-decoration: none;
  color: white;
}

#nav-bar a:hover{
  color: #E6CAFB;
}

#nav-bar li{
  /* top, right, bottom, left */
  margin : 1rem 3rem 1rem 3rem;
}

#nav-bar{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

